<div class="col-md-6">
  <h2 class="text-center">Edit Stock Price</h2>
  <form [formGroup]="editForm" (ngSubmit)="onSubmit()">
    <div class="form-group">
      <label for="name">Name: </label>
      <input type="name" formControlName="name" placeholder="Name" name="name" class="form-control" id="name" readonly>
    </div>

    <div class="form-group">
      <label for="currentPrice">Current Price:</label>
      <input type="number" formControlName="currentPrice" placeholder="Current Price" name="currentPrice" class="form-control" id="currentPrice">
    </div>

    <!-- <div class="form-group">
      <label for="lastUpdate">Last Update:</label>
      <input formControlName="lastUpdate" placeholder="Last Update" name="lastUpdate" class="form-control" id="lastUpdate">
    </div> -->

    <button class="btn btn-success">Update</button>
  </form>
</div>
