<div class="container-fluid">
<div class="col-md-offset-1">
  <h1>
    Welcome to Stock Service!
  </h1>
</div>

<a routerLink="/stocks"> List Stocks</a>
<a style="margin-left:10px" routerLink="/add">Add Stock</a>
<br/>
<router-outlet></router-outlet>
</div>
