<div class="col-md-6">
<h2> Stock Details</h2>

<table class="table table-striped">
  <thead>
  <tr>
    <th class="hidden">Id</th>
    <th>Name</th>
    <th>Current Price</th>
    <th>Last Update</th>
  </tr>
</thead>
  <tbody>
  <tr *ngFor="let stock of stocks">
    <td class="hidden">{{stock.id}}</td>
    <td>{{stock.name}}</td>
    <td>{{stock.currentPrice}}</td>
    <td>{{stock.lastUpdate | date: 'dd/MM/yyyy HH:mm:ss' }}</td>
    <td><button class="btn btn-danger" (click)="editStock(stock)" style="margin-left: 20px;"> Edit</button></td>
  </tr>
  </tbody>
</table>
</div>
