<div class="col-md-6">
  <h2 class="text-center">Add Stock</h2>
<form>
  <div class="form-group">
    <label for="name">Name:</label>
    <input type="text" [(ngModel)]="stock.name" placeholder="Name" name="name" class="form-control" id="name">
  </div>

  <div class="form-group">
    <label for="currentPrice">Current Price:</label>
    <input type="number" [(ngModel)]="stock.currentPrice" placeholder="Current Price" name="currentPrice" class="form-control" id="currentPrice">
  </div>

  <button class="btn btn-success" (click)="createStock()">Create</button>
</form>
</div>
